<html>
	<head>
		<!-- ext js -->
		<script type="text/javascript" src="#springUrl('/extjs/adapter/ext/ext-base.js')"></script>
		<script language="javascript" type="text/javascript" src="#springUrl('/extjs/ext-all-debug.js')"></script>
    	<!-- Include Ext stylesheets here: -->
	    <link rel="stylesheet" type="text/css" href="#springUrl('/extjs/resources/css/ext-all.css')">
	    <script language="javascript" type="text/javascript" src="#springUrl('/quoting.js')"></script>
	    <title>$deployment.getSystemTitle()</title>
	</head>
	#include("/WEB-INF/velocity/style.vm")
	<body id="body">
		<div align="center">
			You've tried to upload something way too big. The current limit for the system is ${currentLimit} bytes.
			<br><br>
			<a href="">Return to thread</a>
		</div>
	</body>
</html>