<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="SHORTCUT ICON" HREF="#springUrl('/favicon.png')">
	    <script language="javascript" type="text/javascript" src="#springUrl('/quoting.min.js')"></script>
	    <title>$deployment.getSystemTitle()</title>
	    ##Ochan dependencies
		<link rel="stylesheet" type="text/css" href="#springUrl('/style.css')"/>
	</head>
	<body id="body">
		<div align="center">
			You've tried to upload something way too big. The current limit for the system is ${currentLimit} bytes.
			<br><br>
			#if($threadId)
				<a href="#springUrl('/chan/thread/')${threadId}">Return to thread</a>
			#end
			#if($categoryId)
				<a href="#springUrl('/chan/')${categoryId}">Return to category</a>
			#end
		</div>
	</body>
</html>
