<html>
	<head>
		<!-- ext js -->
		<script type="text/javascript" src="#springUrl('/extjs/adapter/ext/ext-base.js')"></script>
		<script language="javascript" type="text/javascript" src="#springUrl('/extjs/ext-all-debug.js')"></script>
    	<!-- Include Ext stylesheets here: -->
	    <link rel="stylesheet" type="text/css" href="#springUrl('/extjs/resources/css/ext-all.css')">
		<script language="javascript" type="text/javascript">
			//variable to keep track of the pages most recent thread id
	        var currentPostId = 0;
	        
			Ext.onReady(function() {
	
	    		var form = new Ext.form.FormPanel({
	    		id: 'threadForm',
	    		title: 'Reply',
	    		header: true,
			    labelAlign: 'top',
			    bodyStyle:'padding:5px 5px 0',
			    width: 600,
			    collapsible: true,
			    fileUpload: true,
			    url: '#springUrl('/postReply.Ochan')',
			    items: [
			    {
	                xtype:'hidden',
	                value: '${thread.identifier}',
	                name: 'parent',
	                anchor:'95%'
			    },{
	                xtype:'textfield',
	                fieldLabel: 'Author',
	                name: 'author',
	                anchor:'95%'
			    },{
	                xtype:'textfield',
	                fieldLabel: 'Subject',
	                name: 'subject',
	                anchor:'95%'
			    },{
	                xtype:'textfield',
	                fieldLabel: 'Email',
	                name: 'email',
	                anchor:'95%'
			    },{
	                xtype:'textfield',
	                fieldLabel: 'Url',
	                name: 'url',
	                anchor:'95%'
			    },{
			        xtype:'htmleditor',
			        id:'comment',
			        fieldLabel:'Comment',
			        height:200,
			        anchor:'98%'
			     },{
				    xtype:'tabpanel',
            		activeTab: 0,
            		defaults:{autoHeight:true, bodyStyle:'padding:10px'}, 
            		items:[{
            			title: 'Upload Image',
            			layout: 'form',
            			items: [{
		                	xtype:'textfield',
		                	fieldLabel: 'Image',
		                	name: 'file',
		                	inputType: 'file',
		                	id: 'file',
		                	anchor:'95%'
		                }]
					},{
						title: 'Remote Image',
						layout: 'form',
						items: [{
	                		xtype: 'textfield',
	                		fieldLabel: 'Image URL',
	                		name: 'fileUrl',
	                		id:	'fileUrl',
	                		anchor: '95%'
	                	}]
	                }]
			    }],
			    buttons: [{
			        text: 'Reply',
			        handler: function() {
			        	var formPanel = Ext.getCmp('threadForm'); 
			        	formPanel.getForm().getEl().dom.setAttribute('method', 'POST');
        				formPanel.getForm().getEl().dom.setAttribute('enctype', 'multipart/form-data');
			        	formPanel.getForm().getEl().dom.setAttribute('Action','#springUrl('/postReply.Ochan')');
			        	formPanel.getForm().getEl().dom.submit();
			        }
			    }],
			    onSubmit: Ext.emptyFn,
        		submit: function() {
            		this.getEl().dom.submit();
        		},
        		renderTo: 'reply',
        		frame: true
			});
			 
			Ext.QuickTips.init();
			##form.render(document.body);
	        });
	        
	        ## Sets up the ajax loop
	        window.setInterval(xyz, 10000)
	        
	        ## Calls rest url for the next post
	        function xyz(){
	        	Ext.Ajax.request({
					url: '/remote/rest/post/next/' + currentPostId + '/',
					method: 'GET',
					##success: someFn,
					##failure: otherFn,
					##headers: {
						##'my-header': 'foo'
					##},
					##params: Ext.util.JSON.encode(request)
					scope:this,
					callback: function(opts, suss, resp){
						var result = Ext.util.JSON.decode(resp.responseText);
						//so here, lets make a new table.. yeah? yeah.
						//alert(result.RemotePost.comment);
						if (result != undefined && result.RemotePost.identifier != -1){
							createItem(result.RemotePost.subject, result.RemotePost.email, result.RemotePost.author, result.RemotePost.url, result.RemotePost.time, result.RemotePost.type, result.RemotePost.identifier, result.RemotePost.comment);
							currentPostId = result.RemotePost.identifier;
						}
					}
				});
	        }
	        
	        ##NASTY duplication of style in JAVASCRIPT to ... 2 places to edit one style.. sucks. 
	        function createItem(subject,email,author,url,time,type,id,comment){
	        	var body = document.getElementById("body");
	        	var newhr = document.createElement("hr");
	        	var bigdiv = document.createElement("div");
	        	var location = document.createElement("a");
	        	location.setAttribute("name",id);
	        	
	        	var newdiv = document.createElement("div");
	        	newdiv.innerHTML = subject + "&nbsp;&nbsp;<a href=\"mailto:" + email + "\">" + author + "</a> " + "<a href=\"" + url + "\">uri</a>" + time + "&nbsp;&nbsp;&raquo;" + id;
	        	var table = document.createElement("table");
	        	var row = document.createElement("tr");
	        	var cell1 = document.createElement("td");
	        	if (type == 'IMAGE'){
	        		cell1.innerHTML = "<a href=\"#springUrl('/thumb.Ochan')?identifier=" + id + "\"><img src=\"#springUrl('/thumb.Ochan')?identifier=" + id + "&thumb=true\"></a>";
	        	}
	        	var cell2 = document.createElement("td");
	        	cell2.innerHTML = comment;
	        	row.appendChild(cell1);
	        	row.appendChild(cell2);
	        	table.appendChild(row);
	        	
	        	bigdiv.appendChild(location);
	        	bigdiv.appendChild(newdiv);
	        	bigdiv.appendChild(table);
	        	
	        	body.appendChild(newhr);
	        	body.appendChild(bigdiv);
	        	
	        	var endLocation = document.createElement("a");
	        	endLocation.setAttribute("name","end"+id);
	        	body.appendChild(endLocation);
	        		        	
	        	window.location.hash="end"+id;
	        }
	        	
		</script>
	</head>
	#include("/WEB-INF/velocity/style.vm")
	<body id="body">
		<div id="reply"></div>
		#foreach($post in ${thread.posts})
			<hr>
			<div>
				<script language="javascript" type="text/javascript">
					currentPostId = $post.identifier;
				</script>
				<a name="$post.identifier"/>
				<div>
					$post.subject&nbsp;&nbsp;<a href="mailto:$post.email">$post.author</a> <a href="$post.url">uri</a> $post.time  &nbsp;&nbsp;&raquo;$post.identifier
				</div>
				<table>
					<tr>
					#if ($post.getClass().getName() == 'org.ochan.entity.ImagePost')
						<td>
							<a href="#springUrl('/thumb.Ochan')?identifier=$post.identifier"><img src="#springUrl('/thumb.Ochan')?identifier=$post.identifier&thumb=true"></a>
						</td>
					#end
						<td>
							$post.comment
						</td>
					</tr>
				</table>
			</div>
		#end
	</body>
</html> 