<html>
    <head>
		<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
		<link REL="SHORTCUT ICON" HREF="#springUrl('/favicon.png')">
        <title>$deployment.getSystemTitle()</title>
        <!-- ext js -->
	<script type="text/javascript" src="#springUrl('/extjs/adapter/ext/ext-base.js')"></script>
        <script language="javascript" type="text/javascript" src="#springUrl('/extjs/ext-all.js')"></script>
        <!-- Include Ext stylesheets here: -->
        <link rel="stylesheet" type="text/css" href="#springUrl('/extjs/resources/css/ext-all.css')">
        <script language="javascript" type="text/javascript">
            Ext.onReady(function() {
                var form = new Ext.form.FormPanel({
                    id: 'threadForm',
                    title: 'New Thread',
	    			header: true,
				    labelAlign: 'right',
				    labelWidth: 55,
                    bodyStyle:'padding:5px 5px 0',
                    width: 600,
                    fileUpload: true,
                    items: [
                        {
                            xtype:'hidden',
                            name: 'identifier',
                            value: ${category.identifier}
                        },{
                            xtype:'hidden',
                            name: 'categoryIdentifier',
                            value: ${category.identifier}
                        },new Ext.form.FieldSet({
		                	title: 'Details',
		                	autoHeight: true,
		                	defaultType: 'textfield',
		                	items: [{
			                	fieldLabel: 'Author',
				                value: '${author}',
				                name: 'author',
				                width: '190px',
				                anchor:'95%'
				            },{
				                fieldLabel: 'Subject',
				                name: 'subject',
				                anchor:'95%'
						    },{
				                fieldLabel: 'Email',
				                name: 'email',
				                anchor:'95%'
						    },{
				                fieldLabel: 'Url',
				                name: 'url',
				                anchor:'95%'
		                	}]
		                }),{
                            xtype:'htmleditor',
                            id:'comment',
                            hideLabel: true,
                            anchor:'98%'
                        },{
                            xtype:'tabpanel',
                            activeTab: 0,
                            defaults:{autoHeight:true, bodyStyle:'padding:10px'},
                            items:[{
                                title: 'Upload Image',
                                layout: 'form',
                                items: [{
                                    xtype:'textfield',
                                    fieldLabel: 'Image',
                                    name: 'file',
                                    inputType: 'file',
                                    id: 'file',
                                    anchor:'95%'
                                }]
                            },{
                                title: 'Remote Image',
                                layout: 'form',
                                items: [{
                                    xtype: 'textfield',
                                    fieldLabel: 'URL',
                                    name: 'fileUrl',
                                    id:    'fileUrl',
                                    anchor: '95%'
                                }]
                            }]
                        }],
                    buttons: [{
                        text: 'Create',
                        handler: function() {
                            var formPanel = Ext.getCmp('threadForm');
                            formPanel.getForm().getEl().dom.submit();
                        }
                    }],
                    onSubmit: Ext.emptyFn, ## overrides the ext form handler
                        submit: function() {
                        var formPanel = Ext.getCmp('threadForm');
                        formPanel.getForm().getEl().dom.setAttribute('method', 'POST');
                        formPanel.getForm().getEl().dom.setAttribute('enctype', 'multipart/form-data');
                        formPanel.getForm().getEl().dom.setAttribute('Action', '#springUrl('/openCategory.Ochan')');
                        formPanel.getForm().getEl().dom.submit();
                    },
					renderTo: 'newthread',
					frame: true
				});
				
				Ext.QuickTips.init();
			});
        </script>
    </head>
    #include("/WEB-INF/velocity/style.vm")
    <body>
    	<div class="navigationBox">
			<a href="http://$deployment.hostname:$deployment.port">Home</a> >> <a href="#springUrl('/chan/')$category.identifier">$category.name</a>
		</div>
	#if (!$blockPosts)
    	<div id="newthread">
        </div>
	<div style="display: none;">
		<form action="/openCategory.Ochan" method="POST">
			<input type="hidden" name="identifier" value="${category.identifier}"/>
			<input type="hidden" name="categoryIdentifier" value="${category.identifier}"/>
			<input type="hidden" name="email" value=""/>
			<input type="hidden" name="url" value=""/>
			<input type="text" name="author" value="${author}"><br>
			<input type="text" name="subject">
			<textarea name="comment"></textarea>
			<input type="submit"/>
		</form>
	</div>
        #end
        #foreach($thread in ${category.threads})
			<!-- lets do the math first -->
			#set($allPostsCount = 0)
			#set($allImagePostsCount = 0)
			#foreach($post in $thread.posts)
				#set($allPostsCount = $allPostsCount + 1)
				#if ($post.getClass().getName() == 'org.ochan.entity.ImagePost')
					#set($allImagePostsCount = $allImagePostsCount + 1)
				#end
			#end

			<div>
				Started: $thread.startDate [<a href="#springUrl('/chan/thread/')$thread.identifier">View Entire Thread</a>] [<a href="#springUrl('/chan/zip/')$thread.identifier">Export</a>] <i>$allPostsCount posts and $allImagePostsCount images.</i><br>
				#if (!$deletejob.isDeleteLocked($thread.deleteCount)) #if ($thread.deleteDate) <span style="color: red">Thread marked for deletion</span>#end #end
				#foreach($post in $thread.posts)
					<!-- Only print the first and last post to the thread -->
					#if ($velocityCount == 1 || $velocityCount > ($list.size($thread.posts) - $deployment.getUnderBumpCountLong()) )
					<div class="reply" style="#if ($velocityCount > ($list.size($thread.posts) - $deployment.getUnderBumpCountLong()) && $velocityCount != 1 ) margin-left: 40px; border-left-width: 1px; border-left-style: solid; #end"> 
						<div>
							$post.subject
						</div>
						<table>
							<tr>
								#if ($post.getClass().getName() == 'org.ochan.entity.ImagePost')
								<td>
									<a href="#springUrl('/chan/img/')$post.identifier"><img src="#springUrl('/chan/img/')$post.identifier?thumb=true"></a>
								</td>
								#end
								<td valign="top">
									<a name="$post.identifier"/>
									<div>
										<a href="mailto:$post.email">$post.author</a> $post.time
									</div>
									$post.comment
								</td>
							</tr>
						</table>
					</div>
					#end
				#end
			</div>
		#end
        <p/>
    </body>
</html>
