<html>
	<head>
		<link REL="SHORTCUT ICON" HREF="#springUrl('/favicon.png')">
		<!-- ext js -->
		<script type="text/javascript" src="#springUrl('/extjs/adapter/ext/ext-base.js')"></script>
		<script language="javascript" type="text/javascript" src="#springUrl('/extjs/ext-all-debug.js')"></script>
    	<!-- Include Ext stylesheets here: -->
	    <link rel="stylesheet" type="text/css" href="#springUrl('/extjs/resources/css/ext-all.css')">
	    <script language="javascript" type="text/javascript" src="#springUrl('/quoting.js')"></script>
	    <title>$deployment.getSystemTitle()</title>
	</head>
	#include("/WEB-INF/velocity/style.vm")
	<body id="body">
		<div align="center">
			Your reply cannot be published; you've reached the post limit for this thread. 
			<br><br>
			<a href="#springUrl('/chan/thread/')${threadId}">Return to thread</a>
		</div>
	</body>
</html>