<html>
	<head>
		<link REL="SHORTCUT ICON" HREF="#springUrl('/favicon.png')">
		<!-- ext js -->
		<script type="text/javascript" src="#springUrl('/extjs/adapter/ext/ext-base.js')"></script>
		<script language="javascript" type="text/javascript" src="#springUrl('/extjs/ext-all-debug.js')"></script>
    	<!-- Include Ext stylesheets here: -->
	    <link rel="stylesheet" type="text/css" href="#springUrl('/extjs/resources/css/ext-all.css')">
	    <script language="javascript" type="text/javascript" src="#springUrl('/quoting.js')"></script>
	    <title>$deployment.getSystemTitle()</title>
	</head>
	#include("/WEB-INF/velocity/style.vm")
	<body id="body">
		<div align="center">
			<img src="#springUrl('/404.png')" alt="404 Not Found.... you probably came here via a dead thread"/>
		</div>
	</body>
</html>