<html>
        <head>
                <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
                <link REL="SHORTCUT ICON" HREF="#springUrl('/favicon.png')">
            <script language="javascript" type="text/javascript" src="#springUrl('/quoting.js')"></script>
            <title>$deployment.getSystemTitle()</title>
            ##Ochan dependencies
                <link rel="stylesheet" type="text/css" href="#springUrl('/style.css')"/>
        </head>
        <body id="body">
                <div align="center">
                        404 Not Found! 
                </div>
        </body>
</html>

