<html>
	<head>
		<link REL="SHORTCUT ICON" HREF="#springUrl('/favicon.png')">
	    <script language="javascript" type="text/javascript" src="#springUrl('/quoting.js')"></script>
	    <title>$deployment.getSystemTitle()</title>
	    ##Ochan dependencies
		<link rel="stylesheet" type="text/css" href="#springUrl('/style.css')"/>
	</head>
	<body id="body">
		<div align="center">
			Your thread cannot be published; you've reached the thread limit for this category. 
			<br><br>
			<a href="#springUrl('/chan/')${categoryId}">Return to category</a>
		</div>
	</body>
</html>