<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="SHORTCUT ICON" HREF="#springUrl('/favicon.png')">
		<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
                <link type="application/atom+xml" rel="alternate" href="#springUrl('/atom/threads')">
		<title>$deployment.getSystemTitle()</title>
	</head>
        <body>

<h2>Pages</h2>
<ul>
#foreach($page in ${pages})
<li>$page.key</li>
#end
</ul>


</body>
</html>